@* @model Estately.Core.Entities.LkpUserType

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LkpUserType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserTypeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserTypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UserTypeID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div> *@
@model Estately.Services.ViewModels.UserTypeViewModel
@{
    ViewData["Title"] = "User Type Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="table-container">
    <h3 class="mb-3">
        <i class="bi bi-tag me-2"></i> User Type Details
    </h3>

    <table class="table table-bordered">
        <tr>
            <th>User Type ID</th>
            <td>@Model.UserTypeID</td>
        </tr>
        <tr>
            <th>User Type Name</th>
            <td>@Model.UserTypeName</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>@Model.Description</td>
        </tr>

        @if (Model.UserCount.HasValue)
        {
            <tr>
                <th>Users Count</th>
                <td>
                    <span class="badge bg-info">@Model.UserCount Users</span>
                </td>
            </tr>
        }
    </table>

    <a asp-action="Edit" asp-route-id="@Model.UserTypeID" class="btn btn-warning">
        <i class="bi bi-pencil-square me-1"></i> Edit
    </a>

    <a asp-action="Index" class="btn btn-secondary ms-2">
        <i class="bi bi-arrow-left-circle me-1"></i> Back to List
    </a>
</div>